Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/AnimStarterPack
Content/FPS_Weapon_Bundle
Content/MilitaryWeapSilver
Content/MS_Blood
Content/CyberpunkIndustries
Content/Blueprints/GameMaps/Demo_Map_BuiltData.uasset
